.container {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.header {
    background: #D6D6D6; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #D6D6D6 0%, #FAFAFA 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #D6D6D6 0%,#FAFAFA 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #D6D6D6 0%,#FAFAFA 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #D6D6D6 0%,#FAFAFA 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #D6D6D6 0%,#FAFAFA 100%); /* W3C */
    border-bottom: 1px solid #D6D6D6;
    box-shadow: 0 1px 5px #FAFAFA;
    padding: 0.625em 0;
}

.header .project-title {
    color: black;
    font-family: 'Delius', cursive;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -2px 2px #C4C4C4;
}

.header .login {
    color: black;
    float: right;
    margin: 0.275em 0;
    text-decoration: none;
}